body {
  font-family: Arial, sans-serif;
  background-color: #3C973F;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3C973F;
  padding: 10px;
  text-align: center;
  font-family: cursive;

}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #FFFFFF;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 50px 0;
  font-family: cursive;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.lead {
  font-size: 18px;
}

main {
  padding: 50px 0;
  text-align: center;
}

.card {
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #3C973F;
  display: inline-block;
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.card:hover {
  background-color: #2A6822;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card a {
  color: #3C973F;
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  margin-top: 0;
}