*{
    font-family: cursive;
}
h5{
    font-size: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}
input{
    border-radius: 5px;
    background-color: #3C973F;
    border: 1px solid #3C973F;
    color: white;
    font-size: 24px;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 5px;
}
input::placeholder{
    color: white;
    font-size: 24px;
}

@media (max-width: 992px){
    input{
        width: 100%;
    }
}

@media (min-width: 992px){
    input{
        width: 100%;
    }
}
.btn{
    background-color: #003929;
    color: white;
}
.btn:hover{
    background-color: #12361B;
}
.texto{
    font-size: 24px;
}